@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  top: 0;
  position: sticky;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

header .header-right li {
  display: inline-block;
  list-style: none;
}

header .header-right a {
  border-radius: 20px;
  display: block;
  letter-spacing: 0.04em;
  padding: 5px 20px;
  text-decoration: none;
  color: #000;
}

header .header-right li:nth-child(3) a {
  color: white;
  background: #2691d9;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.intro {
  font-size: 2.5rem;
  font-weight: bold;
}

.intro span {
  font-size: 3.2rem;
  color: #e1306c;
}

.skills {
  margin-top: 10px;
  font-size: 18px;
}

.social-icons {
  display: flex;
}

.social-icons li {
  list-style: none;
  margin: 20px;
}
.social-icons li a {
  text-decoration: none;
}
.social-icons li a i {
  font-size: 24px;
}

.social-icons li:nth-child(1) a i {
  color: #333;
}
.social-icons li:nth-child(2) a i {
  color: #e1306c;
}
.social-icons li:nth-child(3) a i {
  color: #1da1f2;
}

footer {
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
footer p {
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  header .header-right {
    display: none;
  }
  .intro {
    font-size: 1.4rem;
  }
  .intro span {
    font-size: 2.2rem;
  }
  .skills {
    font-size: 16px;
  }
}
